<div class="container-fluid follow-us">
    <div class="row">
        <div class="col">
            <div class="follow-title">Follow us on:</div>
            <div class="follow-socials">
                <a href="https://twitter.com/AzureThursday"><i aria-hidden="true" class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/azure-thursdays-meetup"><i aria-hidden="true" class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UC8yQjMpCdmmnZ7qd9_P90hw/featured"><i aria-hidden="true" class="fab fa-youtube"></i></a>
                <a href="https://www.azurethursday.com/"><i aria-hidden="true" class="fas fa-globe"></i></a>
            </div>
        </div>
    </div>
</div>
