<div class="past-event-title">{{ .title }}</div>
<div class="row past-event-container">
    <div class="col-md-2">
        <div class="past-event-date">{{ .date }}</div>
        <div class="past-event-sponsor-logo"><a href="{{.sponsor.websiteUrl}}" target="_blank"><img src="{{ .sponsor.logoUrl }}" alt="{{ .sponsor.name }}" /></a></div>
        <div class="past-event-meetup"><a href="{{ .meetupUrl }}" target="_blank"><i class="fab fa-meetup"></i> Meetup page</a></div>
    </div>
    <div class="col">
        <div class="past-event-description"><div class="past-event-description-text">{{ .description }}</div></div>
        {{ range $.sessions }}
        {{ partial "event-session.html" . }}
        {{ end }}
    </div>
</div>
    
<div class="modal" id="modal-{{ .slug }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content session">
        <div class="modal-header">
          <h5 class="modal-title">{{ .title }}</h5>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col col-md-9">
                        <div><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;{{ .date }}</div>
                            <div><i class="fas fa-clock"></i>&nbsp;&nbsp;<span class="past-event-modal-time">{{ .startTime }}</span> till <span class="past-event-modal-time">{{ .endTime }}</span> <span class="past-event-modal-timezone">{{ .timeZone }}</span></div>
                            <div class="modal-past-event-description">
                                {{ .description }}
                            </div>
                        </div>
                    <div class="col col-md-3">
                        {{ range .speakers }}
                        {{ partial "speaker.html" . }}
                        {{ end }}
                    </div>
                </div>
            </div>

            
        </div>
        <div class="modal-footer">
          <a href="/sessions/next.ics" type="button" class="btn btn-primary strong"><i class="fas fa-calendar-plus"></i>&nbsp;&nbsp;Add to agenda</a>
        </div>
      </div>
    </div>
  </div>
