<div class="row session-container">
    <div class="col-md-2">
        <div class="session-time">{{ .startTime }}</div>
        <div class="session-date">{{ .date }}</div>
        <div class="session-timezone">{{ .timeZone }}</div>
        
    </div>
    <div class="col">
        <div class="session-title">{{ .title }}</div>
        <div class="session-meetup">{{ .meetup }}</div>
        <div class="session-description"><div class="session-description-text">{{ .description }}</div></div>
        <div class="session-button"><a href="#" class="btn btn-primary strong mr-3 mb-3" title="Register for Azure Thursday" aria-label="Register for Azure Thursday">
            Read more >
        </a></div>
    </div>
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-2">
        {{ partial "speaker.html" .speaker }}
    </div>
</div>