<div class="row session-container">
    <div class="col-md-2">
        <div class="session-time">{{ .startTime }}</div>
        <div class="session-date">{{ .date }}</div>
        <div class="session-timezone">{{ .timeZone }}</div>
        
    </div>
    <div class="col">
        <div class="session-title">{{ .title }}</div>
        <div class="session-meetup">{{ .meetup }}</div>
        <div class="session-description"><div class="session-description-text">{{ .description }}</div></div>
        {{ with .hideReadMore }}

        {{ else }}
            <div class="session-button"><button class="btn btn-primary strong mr-3 mb-3" data-toggle="modal" data-target="#exampleModalLong" >
                Read more >
            </button></div>
        {{ end }}
    </div>
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-2">
        {{ partial "speaker.html" .speaker }}
    </div>
</div>

<div class="modal" id="speaker-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>