body {
  background: var(--az-darkblue-light);
  background: linear-gradient(180deg, var(--az-darkblue-light) 0%, var(--az-darkblue-dark) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #FFF;

  font-family: "Sans-Reg";
  font-weight: 400;
  font-size: 1.2em;
}

p {
    font-family: "Sans-Reg";
    font-weight: 400;
}

.strong {
    font-family: "Sans-Bold";
    font-weight: normal;
}

.container-fluid {
  padding-left: 7%;
  padding-right: 7%;
}

.header {
  /* width: 100%; */
  margin-top: 20px;
  font-size: 1.3em;
}

.logo {

}

.header-menu {
  width: 100%;
  display: flex;
}

.header-logo {
  height: 80px;
}

.nav-link {
  color: #FFF;
}

.nav-link:focus {
  color: #CCC;
}

.nav-link:hover {
  color: #CCC;
}

.sponsors {
  background-color:  rgba(12,12,16,0.11);
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}

.sponsor {
  margin: 5px;
  line-height: 50px;
  padding: 20px 20px;
}

.sponsor > img {
  height: 65px;
}

.main-header {
  margin-top: 2em;
  margin-bottom: 4em;
  display: flex;
  justify-content: space-between;
}

.main-header-item {
  flex: 1;
}

.main-header-item-title {
  font-family: Sans-Bold;
  font-size: 4em;
}

.main-header-item-body {
  font-size: 1.25em;
}

.main-header-item-button {
  margin-top: 1em;
}

.main-header-item-button > a {
  font-size: 1.2em;
  padding: 12px 26px;
}

.main-header-item > img {
  width: 100%;
}

.main-header-item:first-child {
  margin-right: 1.5em;
}

.main-header-item:last-child {
  margin-left: 1.5em;
}

.badge-primary, .btn-sm-primary, .btn-sm-primary:hover, .btn-primary:hover, .btn-primary {
  background-color: #ffffff;
  color: #082432;
}

.sessions {
  margin-top: 4em;
}

.sessions-header {
  width: 100%;

}

.sessions-title {
  font-family: Sans-Bold;
  font-size: 2.4em;
  margin-bottom: 0.8em;
}

.session-time {
  text-align: center;
  font-size: 1.8em;
  font-family: Sans-Bold;
}

.session-date {
  text-align: center;
  font-family: Sans-Bold;
  margin-bottom: 1em;
}

.session-timezone {
  text-align: center;
  font-size: 0.8em;
}

.session-title {
  text-align: left;
  font-family: Sans-Bold;
  font-size: 1.8em;
}

.speaker-image {
  width: 126px;
  border-radius: 63px;
  overflow: hidden;
  margin: auto;
}

.speaker-image > img {
  width: 126px;
}

.speaker-name {
  text-align: center;
  font-size: 1.4em;
}

.speaker-title {
  text-align: center;
  font-size: 0.9em;
}

.speaker-socials{
  text-align: center;
}

.speaker-socials > a > i {
  color: #FFF;
  font-size: 1.2em;

}

.speaker-socials > a:not(:first-child) > i {
  margin-left: 0.5em;
}

.session-description {
  margin-top: 1.4em;
  overflow: hidden;
  height: 6em;
}

.session-description-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  
  font-size: 1.2em;
}

.session-container {
  padding-top: 2em;
  border-top: solid 1px rgba(12,12,16,0.4) ;
  margin-bottom: 2em;
}

.session-button {

}

.organizers {
  background-color:  rgba(12,12,16,0.11);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.organizers-title {
  font-family: Sans-Bold;
  font-size: 2.2em;
  text-align: center;
}

.organizers-payoff {
  font-size: 1.3em;
  text-align: center;
  padding-left: 6em;
  padding-right: 6em;
  margin-bottom: 3em;
}

.organizer-name {
  text-align: center;
  font-family: Sans-Bold;
  font-size: 1.4em;
}

.organizer-title {
  text-align: center;
}

.organizer-image {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.organizer-image > img {
  width: 100%;
}

.organizer-socials{
  text-align: center;
}

.organizer-socials > a > i {
  color: #FFF;
  font-size: 1.2em;
}

.organizer-socials > a:not(:first-child) > i {
  margin-left: 0.5em;
}

.organizer-container {
  margin-left: 1em;
  margin-right: 1em;
}

.organizer-list {
  padding-left: 5em;
  padding-right: 5em;
}

.follow-title {
  font-size: 1.4em;
  text-align: center;
}

.follow-socials {
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

.follow-socials > a > i {
  color: #FFF;
  font-size: 2em;

}

.follow-socials > a:not(:first-child) > i {
  margin-left: 0.5em;
}

.footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  font-size: 1.2em;
}