{{ define "main" }}
    <div class="container-fluid">
        <div class="main-header">
            <div class="main-header-item">
                <div class="main-header-item-title">Azure Thursday</div>
                <div class="main-header-item-body">This is a group for all developers, consultants, architects and IT professionals who want to dive into for them unknown topics related to Azure. Azure Thursday are happening every first Thursday of the month and the format will be different every evening. From hand-on workshops to technical talks.</div>
                <div class="main-header-item-button">
                    <a href="{{ index .Site.Data.event "meetupRegisterUrl" }}" target="_blank" class="btn btn-primary strong mr-3 mb-3" title="Register for Azure Thursday" aria-label="Register for Azure Thursday">
                        <i aria-hidden="true" class="fas fa-user-plus"></i>
                        Register
                    </a>
            </div>
            </div>
            <div class="main-header-item">
                <img src="{{ index .Site.Data.event "headerImageUrl" }}" alt="{{ index .Site.Data.event "headerImageAlt" }}" />
            </div>
        </div>

    </div>

    <!-- <div class="container">
        {{ .Content }}
    </div> -->
    <div class="container-fluid">
        <div class="sessions-header">
            <div class="sessions-title">Our sponsors</div>
        </div>
        </div>
    {{ partial "sponsors.html" . }}

    <div class="container-fluid">
        <div class="sessions">
            <div class="sessions-header">
                <div class="sessions-title">Sessions</div>
            </div>
            {{ range $.Site.Data.sessions.sessions }}
            {{ partial "session.html" . }}
            {{ end }}
        </div>
    </div>

    {{ partial "organizers.html" . }}
{{ end }}